    <section class="top" data-parallax="scroll" data-image-src="img/wstudio-bg.jpg" data-speed="0.4">
      <div class="container">
      <div class="flexslider">
              <ul class="slides">
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/notebook.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Welcome to <strong>Wyliodrin STUDIO</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/guides.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Connection guides for all <strong>supported boards</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/discover.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext"><strong>Discover boards</strong> and <strong>connect over the network</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/shell.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext"><strong>Shell</strong> for advanced users</div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/network.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Connect the board to the <strong>internet</strong> using the <strong>Network Manager</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/notebook.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Use the <strong>notebook</strong> to create documentation for your projects</div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/tasks.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Manage all the <strong>running processes</strong> on your board with the <strong>Task Manager</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/libraries.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Add or remove <strong>libraries</strong> with the <strong>Package Manager</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/projects.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Create a <strong>new project</strong> or start from an existing <strong>example</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/visual.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Use a <strong>Visual Programming</strong> language and see the <strong>generated Python code</strong>...</div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/programming.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">...or use a conventional <strong>programming language</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/dashboard.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Monitor sensor data using <strong>graphs</strong> in the <strong>Dashboard</strong></div>
                    </div>
                </li>
                <li>
                  <div class="col-md-6">
                      <img src="img/slide/run-arduino.png" />
                    </div>
                    <div class="col-md-6">
                      <div class="flextext">Run project and <strong>flash the Arduino</strong></div>
                    </div>
                </li>
              </ul>
            </div>
        </div>
        <div class="download">
          <div class="container">
              <div class="col-md-6"></div>
                <div class="col-md-6">
                  <a href="https://chrome.google.com/webstore/detail/wyliodrin-studio/eajalplbgimhaodcnncciojhbpcogkan" target="_blank" class="dwlbtn">
                      <img src="img/chromestore.png">
                        <div class="dwltxt">Download from<br><span>Google Chrome Store</span></div>
                    </a>
                    <a href="https://github.com/Wyliodrin/WyliodrinSTUDIO" target="_blank" class="dwlbtn">
                      <img src="img/github.png">
                        <div class="dwltxt gittxt">Fork on GitHub</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="maincontent">
      <div class="container">
          <div class="col-md-6 how">
            <h1>How Wyliodrin STUDIO works</h1>
            <p>Wyliodrin STUDIO is a Chrome based IDE for software and hardware development for IoT and Embedded Linux systems.</p>
            
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
            </div>
            <div class="col-md-6 news">
            <h1>Latest news</h1>
      <ul>
            <% for (var article in public.articles._data) { %>
              <li>
                  <div class="newstime"><%= public.articles._data[article].date %></div>
                    <div class="newstext">
                      <%= public.articles._data[article].title %>
                        <a href="/articles/<%= article %>">[Read more]</a>
                    </div>
                </li>
              <% } %>
            </ul>
            </div>
        </div>
    </section>
    
    <section class="usedby">
      <div class="container">
          <div class="col-md-2"><img src="img/intel.png"></div>
            <div class="col-md-2"><img src="img/inlea.png"></div>
            <div class="col-md-2"><img src="img/cisco.png"></div>
            <div class="col-md-2"><img src="img/usc.png"></div>
            <div class="col-md-2"><img src="img/ohio.png"></div>
            <div class="col-md-2"><img src="img/poli.png"></div>
        </div>
    </section>