<%- yield %>

    <section class="top" data-parallax="scroll" data-image-src="img/wstudio-bg.jpg" data-speed="0.4">
    	<div class="container">
            <div class="col-md-12">
                <div class="secondary-text">The latest <strong>news</strong></div>
            </div>
        </div>
    </section>
    
    <section class="maincontent">
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-8 featuretxt">
                    <h1>We are applying for Google Summer of Code</h1>
                    <p>Write labs, exercises sheets and handouts directly in the project, allow students to follow several steps so that they can better understand how to write and set up the application that they need to build.</p>
                </div>
                <div class="col-md-4 featureimg">
                    <img src="img/screens/notebook.png">
                </div>
            </div>
        </div>
    </section>