    <section class="top" data-parallax="scroll" data-image-src="/img/wstudio-bg.jpg" data-speed="0.4">
    	<div class="container">
            <div class="col-md-12">
                <div class="secondary-text"><strong>Devices</strong> that are/will be supported  </div>
            </div>
        </div>
    </section>
    
    <section class="maincontent">
        <div class="col-md-12 bottom-padd">
        	<div class="container">
                <div class="col-md-4">
                    <div class="text-center secondary-pic"><img src="/img/secondary/rpi.png"></div>
                    <h2 class="text-center">Raspberry Pi</h2>
                    <p>Beeing the most affordable embedded Linux device and having the largest community, the <b>Raspberry Pi</b> is one of our main supported device. Together with the Raspberry Pi, you can use an <b>Arduino</b> microcontroller or an <b>OpenMote</b>.</p>
                </div>
                <div class="col-md-4">
                	<div class="text-center secondary-pic"><img src="/img/secondary/arduinoyun.png"></div>
				  <h2 class="text-center">Arduino Yun</h2>
                    <p>You might now them only as microcontrollers, but Arduino has several models that run Linux, like the <b>Arduino Yun</b> and the <b>Arduino Tian</b>. We are working closely with Arduino to offer Arduino Linux devices out of the box.</p>
                </div>
                <div class="col-md-4">
                    <div class="text-center secondary-pic"><img src="/img/secondary/udooneo.png"></div>
                  <h2 class="text-center">Udoo Neo</h2>
                    <p>A mix between an embedded computer and a micrcontroller, <b>UDOO Neo</b> offers the best of both of them. It runs Linux and has a microcntroller on board that can run real time applications.</p>
                </div>
			</div>
        </div>
		<div class="col-md-12 greybg bottom-padd">
        	<div class="container">
                <div class="col-md-6">
                	<div class="text-center secondary-pic"><img src="/img/secondary/beaglebone.png"></div>
				  <h2 class="text-center">Beaglebone Black</h2>
                    <p>This one gets closer to the industry, having a Linux computer and some of the features of a micrcontroler (ADC). Use the <b>BeagleBone Black</b> to make professional applications.</p>
                </div>
                <div class="col-md-6">
                    <div class="text-center secondary-pic"><img src="/img/secondary/cisco829.png"></div>
                  <h2 class="text-center">IR 829</h2>
                    <p>This router is a device that can run Linux containers so that users are able to deploy applications directly to it. Think of it as an industrial embedded device. With the power of Cisco networking ios and Linux applications, <b>IR 829</b> is perfectly suited for industry use.</p>
                </div>
            </div>
        </div>
    </section>