    <section class="top" data-parallax="scroll" data-image-src="/img/wstudio-bg.jpg" data-speed="0.4">
    	<div class="container">
            <div class="col-md-12">
                <div class="secondary-text">The <strong>features</strong> of Wyliodrin STUDIO</div>
            </div>
        </div>
    </section>
    
    <section class="maincontent">
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-6 featuretxt">
                    <h1>Notebook - An interactive tutorial on how to build the application</h1>
                    <p>Write labs, exercise sheets and handouts together with the application. Students can follow step-by-step tutorials to better understand how to write and set up the application that they need to build.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/screens/notebook.png">
                </div>
            </div>
        </div>
        <div class="col-md-12 greybg">
        	<div class="container">
                <div class="col-md-6 featuretxt">
                    <h1>Application - Write code in your favorite visual or text language</h1>
                    <p>Write code in visual languages, python, javascript or just plain shell script. Besides the code that runs on the Linux device, you can write, compile and deploy several firmwares like Arduino or OpenMote.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/screens/application.png">
                </div>
            </div>
        </div>
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-6 featuretxt">
                    <h1>Dashboard  - Visualise data signals</h1>
                    <p>View data signals collected from devices in an interactive dashboard. Select the best display of data from a variety of graphs like lines, gauges or even custom made displays.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/screens/dashboard.png">
                </div>
            </div>
        </div>
        <div class="col-md-12 greybg">
        	<div class="container">
                <div class="col-md-6 featuretxt">
                    <h1>Schematics - Upload your project's schematics</h1>
                    <p>Users may attach the electronics schematics to their applications so projects can be fully replicated when shared with others.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/screens/schematics.png">
                </div>
            </div>
        </div>
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-6 featuretxt">
                    <h1>File Manager - Create new folder and files as you need</h1>
                    <p>Upload, create and download files and folders to and from your devices using the File Manager.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/screens/filemanager.png">
                </div>
            </div>
        </div>
        <div class="col-md-12 greybg">
        	<div class="container">
                <div class="col-md-6 featuretxt">
                    <h1>Shell - For advanced users</h1>
                    <p>Expert users are able to connect to the devices using a shell. This offers all the flexibility that the Linux command line provides while using a very firendly IDE.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/screens/shell.png">
                </div>
            </div>
        </div>
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-6 featuretxt">
                    <h1>Management - Easily connect to the internet and/or install/remove libraries</h1>
                    <p>Connecting to WiFi networks has never been easier than using the Network Manager.</p>
                    <p>The Package Manager allows users to install libraries for Python and Javascript.</p>
                    <p>Users can view and stop processes using the Task Manager.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/screens/manager.png">
                </div>
            </div>
        </div>
    </section>