    <section class="top" data-parallax="scroll" data-image-src="/img/wstudio-bg.jpg" data-speed="0.4">
    	<div class="container">
            <div class="col-md-12">
                <div class="secondary-text"><strong>Get involved!</strong> Here's how you can contribute</div>
            </div>
        </div>
    </section>
    
    <section class="maincontent">
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-12 involvedtitle text-center">
                	<h1>Two projects</h1>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Wyliodrin STUDIO App</h2>
                    <p>Wyliodrin STUDIO is currently available as a Chrome Application. That means that it currently runs on Chrome OS and any other system where Google Chrome is available. As Google applications will soon be retired from all the platforms other than the Chromebook, we need to make Wyliodrin STUDIO a stand alone application. Our final goal is to be able to maintain the Chromebook version and the stand alone version in one code base.</p>
                    <p>Visual programming is one of the programming langguages supported by Wyliodrin STUDIO. Visual programming helps first timers to write an application in a graphical way by dragging blocks (similar to Scratch). As part of implementing it, we wrote several blocks for sensors and peripherals control and access. Some of these visual elements need to be brought up to date. In addition, we would like to add a new feature which would allow users to create the visual blocks they desire.</p>
                    <div class="text-center">
                    	<a href="https://github.com/Wyliodrin/WyliodrinSTUDIO" target="_blank">Fork Wyliodrin STUDIO</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Wyliodrin-app-server</h2>
                    <p>The server software that runs on the embedded device, manages the connection to Wyliodrin STUDIO and control of the devices via the interface. Wyliodrin STUDIO allows users to open a shell directly to the device they are connected to. For this, wyliodrin-app-server uses the xterm.js module.</p>
                    <p>We would like to enhance xterm.js to have the following features implemented for the shell: scrolling, select, copy-paste.</p>
                <div class="text-center">
                    	<a href="https://github.com/Wyliodrin/wyliodrin-app-server" target="_blank">Fork Wyliodrin-app-server</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 greybg">
        	<div class="container">
                <div class="col-md-6 involvedtxt">
                    <h1>Translations</h1>
                    <p>We want to make Wyliodrin STUDIO accessible to as many people as possible. THis is why the platform is designed to support multiple languages. We encourage people to add as many supported languages as possible.</p>
                </div>
                <div class="col-md-6 featureimg">
                    <img src="/img/secondary/languages.png">
                </div>
            </div>
        </div>
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-12 involvedtxt text-center">
                	<h1>Port to other devices / OS</h1>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Wyliodrin-app-server</h2>
                    <p>For a device to be compatible with Wyliodrin STUDIO, it needs to run the wyliodrin-app-server and the required modules and services. For now users can connect Raspberry Pi, UDOO Neo and BeagleBone Black boards. In addition, Arduino and OpenMote controllers can be programmed and controlled via Wyliodrin STUDIO through the a Linux embedded device (Raspberry Pi or other).</p>
                    <p>We aim to extend the number of supported devices, both Linux based or controllers.</p>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Libwyliodrin</h2>
                    <p>Libwyliodrin is a universal pin control library. It allows users to access the boards' pins by using Arduino-like functions. By using libwyliodrin function, applications can run on any supported board without any adjustments. In order to do that, libwyliodrin abstracts the embedded devices' functions for controlling the pins.</p>
                    <p>So far libwyliodrin is compatible with Raspberry Pi, UDOO Neo, BeagleBone Black, Intel Galileo, Intel Edison and Red Pitaya. We would like to extend libwyliodrin to as many devices as possible and you can help us do that.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 greybg bottom-padd">
        	<div class="container">
                <div class="col-md-4">
                    <div class="text-center secondary-icon"><img src="/img/secondary/bug-icon.png"></div>
                    <h2 class="text-center">Bug reporting</h2>
                    <p>Wyliodrin STUDIO is a young project build by passionate people woking day and night. Together with the amount of coffee we drank and the lines of code we wrote, the number of bugs increased.</p>
                    <p>Help us make this project more stable by reporting bugs and helping us fix them.</p>
                </div>
                <div class="col-md-4">
                	<div class="text-center secondary-icon"><img src="/img/secondary/sugestion-icon.png"></div>
				  <h2 class="text-center">Suggestions</h2>
                   <p>We created Wyliodrin STUDIO out of our need for an educational tool for Internet of Things. We put our teaching experience into the project and came up with the current platform.</p>
                    <p>Help us improve Wyliodrin STUDIO and make it more useful by sharing your experience and especially your frustrations with building IoT applications.</p>
                </div>
                <div class="col-md-4">
                    <div class="text-center secondary-icon"><img src="/img/secondary/examples-icon.png"></div>
                  <h2 class="text-center">Tutorials / Examples</h2>
                    <p>Wyliodrin STUDIO is designed both for advanced users and for beginners. When some users open it the first time, they will ask the question "Now what?". It is really important for us to have a solid set of getting started tutorials that users can use to start building IoT applications.</p>
                    <p>We wish to make it easy for everybody to be a part of the Internet of Things movement, this is why we need to keep on improving the tutorials library and you can help.</p>
                </div>
            </div>
        </div>
    </section>