    <section class="top" data-parallax="scroll" data-image-src="/img/wstudio-bg.jpg" data-speed="0.4">
    	<div class="container">
            <div class="col-md-12">
                <div class="secondary-text">The <strong>team</strong> behind Wyliodrin STUDIO</div>
            </div>
        </div>
    </section>
    
    <section class="maincontent greybg">
        <div class="col-md-12 bottom-padd">
            <div class="container">
                <div class="row clearfix">
                  <div class="col-md-12 column t-member">
                    <div class="col-md-4 column topp">
                      <img src="/img/secondary/alex.png">
                      <h3>Alexandru Radovici, PhD</h3>
                      <span><span class="title-pos"><strong>Maintainer</strong></span><br>
                      <p>PhD in Computer Science<br>
                        10+ years of experience in Software Engineering<br>
                        Founder of IP Workshop (IT Summer School)</p>
                      </span>
                    </div>
                    <div class="col-md-4 column topp">
                      <img src="/img/secondary/ovi.png">
                      <h3>Ovidiu Stoica</h3>
                      <span><span class="title-pos"><strong>UI/UX</strong></span><br>
                      <p>10+ years of experience in UI/UX Design<br>
                        Founder of IP Workshop (IT Summer School)<br>
                        Founder of Comixer.net</p>
                      </span>
                    </div>
                    <div class="col-md-4 column topp">
                      <img src="/img/secondary/ioana.png">
                      <h3>Ioana Culic</h3>
                      <span><span class="title-pos"><strong>R&amp;D</strong></span><br>
                      <p>Teaching assistant<br>
                        5 years of experience in Software Development<br>
                        Founder of IP Workshop (IT Summer School)</p>
                      </span>
                    </div>
                    <div class="col-md-4 column topp">
                      <img src="/img/secondary/cristi.png">
                      <h3>Cristian Rusu, PhD</h3>
                      <span><span class="title-pos"><strong>Developer</strong></span><br>
                      <p>PhD in Computer Science<br>
						10+ years of experience in Software Engineering</p>
                      </span>
                    </div>
                    <div class="col-md-4 column topp">
                      <img src="/img/secondary/razvanserban.png">
                      <h3>Razvan Serban</h3>
                      <span><span class="title-pos"><strong>Open Source Developer</strong></span><br>
                      <p>Student</p>
                      </span>
                    </div>
                    <div class="col-md-4 column topp">
                      <img src="/img/secondary/alexvochescu.png">
                      <h3>Alexandru Vochescu</h3>
                      <span><span class="title-pos"><strong>Open Source Developer</strong></span><br>
                      <p>Student</p>
                      </span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="col-md-12 whitebg bottom-padd">
        	<div class="container">
                <div class="row clearfix"></div>
                <div class="col-md-12 column team-small">
                <p class="team-small-title">Advisors</p>
                <div class="topp">
                  <h3>Razvan Serban</h3>
                  <span class="title-pos">Open Source Developer</span> </div>
                <div class="topp">
                  <h3>Alexandru Vochescu</h3>
                  <span class="title-pos">Open Source Developer</span> </div>
                <div class="topp">
                  <h3>Mihai Popescu</h3>
                  <span class="title-pos">Open Source Developer</span> </div>
                </div>
            </div>
        </div> -->
        
    </section>