    <section class="top" data-parallax="scroll" data-image-src="/img/wstudio-bg.jpg" data-speed="0.4">
    	<div class="container">
            <div class="col-md-12">
                <div class="secondary-text">The <strong>technologies</strong> used in Wyliodrin STUDIO</div>
            </div>
        </div>
    </section>
    
    <section class="maincontent">
        <div class="col-md-12">
        	<div class="container">
                <div class="col-md-6 techtxt">
                    <h1>Libwyliodrin</h1>
                   <p>An universal pin control library. Libwyliodrin exposes Arduino-like functions for accessing GPIO, AIO, PWM sensors and peripherals. This allows you to use the same programs on any embedded linux device that supports the library. Examples are Raspberry Pi, BeagleBone Black, Intel Galileo and Edison, UDOO Neo.</p>
                    <div class="text-center">
                    	<a href="https://github.com/Wyliodrin/libwyliodrin" target="_blank">Fork Libwyliodrin</a>
                    </div>
                </div>
                <div class="col-md-6 techimg">
                    <img src="/img/secondary/libwyliodrin.png" style="max-width:436px;">
                </div>
            </div>
        </div>
        <div class="col-md-12 greybg bottom-padd">
        	<div class="container">
                <div class="col-md-12 involvedtxt">
                    <h1>Wyliodrin-app-server</h1>
                    <p>The server software that runs on the embedded device. It manages the connection to Wyliodrin STUDIO and control of the devices via the interface.</p> <p>It allows you to run notebooks, applications, set up network configurations, install packages, upload and download file and shell into the device.</p>
                </div>
				<div class="col-md-6 col-sm-12 col-xs-12 marginzero paddingzero involvedtxt">
					<div class="text-center marginzero paddingzero">
						<a href="https://github.com/Wyliodrin/wyliodrin-app-server" target="_blank">Fork Wyliodrin-app-server</a>
					</div>
				</div>
            </div>
        </div>
    </section>