/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/webfonts/flexslider-icon.eot');
	src:url('../fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/flexslider-icon.woff') format('woff'),
		url('../fonts/webfonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {margin:0; padding:0; font-size:16px; font-family:"Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; background-color:#fff; color:#090b0d;}

h1 {font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:40px; font-size:30px; font-weight:bold;}
h2 {font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:40px; font-size:26px; font-weight:bold;}
p { font-size:14px; padding:5px 0; text-align:justify;}
a {font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;}
a:active, a:focus { text-decoration:none;}


.container { width: 100%; max-width:1400px;}

.top { min-height:240px;}

.top-menu { position:fixed; top:0; background:#090b0d; width:100%; z-index:500;}

.top-menu .nav { background:none; border:0; font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; font-weight:300; float:right;}
.top-menu .nav li a{ border:0 !important; border-bottom:#090b0d solid 3px; color:#fff; padding:30px 15px 20px;}
.top-menu .nav .active a, .top-menu .nav .active a:hover{ border-radius:0; border:0 !important; border-bottom:#e54225 solid 3px !important; background-color:#090b0d !important; color:#fff !important;}
.top-menu .nav a:hover{ border-radius:0; border:0 !important; border-bottom:#090b0d solid 3px !important; background-color:#090b0d !important; color:#e54225 !important;}

.logo { padding:13px 0; float:left;}

.flextext {font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; color:#babce8; font-size:36px; margin:auto; margin-top:150px; width:100%; text-align:center;}
.flextext strong { color:#fff; font-weight:bold;}

.secondary-text { text-align:center; font-size:40px; margin-top:130px; color:#babce8;}
.secondary-text strong{ color:#fff;}

.download { background:#e5eef1; padding:38px 0; position: absolute; width: 100%; top: 492px;}

.dwlbtn { width:200px; display:block; float: left; margin:0 40px; z-index: 200; position: relative;}
.dwlbtn img{ float:left; margin-right:10px;}
.dwlbtn {font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:19px; line-height:18px; text-align:center; color:#090b0d;}
.dwlbtn:hover { color:#e54225; text-decoration:none;} 
.dwltxt { padding-top:8px; color:#090b0d; padding-top:8px; display:block;}
.dwlbtn:hover .dwltxt{ color:#e54225; text-decoration:none;} 
.dwlbtn span{font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;}
.gittxt { padding-top:18px;}

.maincontent {padding-top:20px; float:left; background:#fff; width:100%;}
.maincontent .col-md-6 {padding:20px;}


.news ul { margin:0; padding:0; position:relative;}
.news ul li { padding:15px; border-radius:5px; border:#d1d2d3 solid 1px; list-style:none; font-size:14px; margin-bottom:20px;}
.news ul li:hover, .news ul li:focus {border:#939393 solid 1px; background:0;}
.news ul li a { display:inline; padding-left:10px; color:#e54225;}
.news ul li a:hover { text-decoration:underline;}
.news ul li .newstime { color:#6b6b6b; margin-bottom:5px;}



.footer { text-align:center; padding:30px 0 50px; float: left; width: 100%;}
.footer .nav { background:none; border:0; font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; font-size:14px; font-weight:500; margin:auto; display: inline-block; float:none;}
.footer .nav li a{ border:0 !important; color:#090b0d; padding:30px 10px 20px;}
.footer .nav .active a, .footer .nav .active a:hover{ border-radius:0; border:0 !important; background-color:none !important; color:#e54225 !important; text-decoration:none;}
.footer .nav a:hover{ border-radius:0; border:0 !important; background-color:transparent !important; color:#e54225 !important; text-decoration:underline;}

.usedby { background:#e5eef1; padding:20px 0; float: left; width: 100%;}
.usedby div { text-align:center;}

.copyright { width:100%; text-align:center; font-size:14px; font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-weight:300; color:#5a6676; padding:20px 0;}

.greybg { background:#f4f4f4;}
.greybg .featureimg {float:left;}
.greybg .featuretxt {float:right;}

.whitebg { background:#fff;}

.featuretxt { padding-top:110px !important; float:left;}
.featuretxt h1 { color:#e54225;}
.featureimg { text-align:center; padding-top:60px !important; padding-bottom:0 !important;}
.featureimg img {width:100%; max-width:500px;}

.involvedtitle { padding-top:20px;}
.involvedtitle h1 { color:#e54225; text-transform:uppercase; margin-bottom:20px;}
.secondary .maincontent a { margin:0; padding:10px 15px; background:transparent; border:#e54225 solid 1px; color:#e54225; border-radius:20px; margin:40px 10%;; display:block;}
.secondary .maincontent a:hover { text-decoration:none; background:#e54225; border:#e54225 solid 1px; color:#fff;}

.secondary-icon { text-align:center; width:100%; padding:70px 30px 20px 30px;}
.secondary-icon img{max-width:128px; width:100%; height:auto;}

.secondary-pic { text-align:center; width:100%; padding:70px 30px 20px 30px;}
.secondary-pic img{max-width:400px; width:100%; height:auto;}

.involvedtxt { padding-top:20px; padding-top:60px !important; float:left;}
.involvedtxt h1 { color:#e54225; text-transform:uppercase; margin-bottom:20px;}

.techtxt { padding-top:20px; padding-top:50px !important; float:left;}
.techtxt h1 { color:#e54225; text-transform:uppercase; margin-bottom:20px;}
.techimg  { text-align:center; padding-top:30px !important; padding-bottom:0 !important;}

.bottom-padd { padding-bottom:70px !important;}




.team { margin:auto; text-align:center;}
.team p { text-align:center !important;}
.team h3{ font-family:Georgia, "Times New Roman", Times, serif; font-size:40px; color:#090b0d; padding:20px 0 20px 0; margin:40px 0 60px 0; background:#eee;}

.t-member {margin:auto; text-align:center;}
.t-member div{margin-bottom:30px;}
.t-member h3{font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:26px; color:#191e25; padding-top:0px;}
.title-pos{color:#191e25; padding-top:20px; font-size:15px; color:#090b0d; padding-top:0px;}
.t-member span{font-size:13px;}

.team-small {margin: 60px auto; text-align:center; border-top:#191e25 dotted 1px; padding:40px 0 0px 0;}
.team-small div{margin:0 25px 50px 25px; -webkit-border-radius: 120px; -moz-border-radius: 120px; border-radius: 120px; display:inline-table; width:200px; height:200px; border:#191e25 dashed 1px;}
.team-small h3{font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px; color:#191e25; padding:20px 0 20px 0; margin:60px 0 0px 0;}
.team-small span{color:#191e25; padding-top:20px; font-size:13px; color:#090b0d; padding-top:0px; font-weight:normal;}

.team-small-title {font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:26px; color:#090b0d; background:#fff; font-weight:600; max-width:126px; padding:10px; margin:auto; top:-72px; position:relative;}

.topp { margin-top:30px;}
.topp p { text-align:center !important; font-size:14px;}








.flexslider { background: none; border:0; margin-top:150px; z-index:100;}
.flex-direction-nav a{ height:50px;}
.flexslider .flex-direction-nav .flex-prev {
    opacity: 0;
    left: -5%;
}
.flexslider .flex-direction-nav .flex-next {
    opacity: 0;
    right: -5%;
}
.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: -5%;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: -5%;
}
.flex-direction-nav a:before{
	color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}


@media (min-width: 1200px) {
	.container { width: 100%; max-width:1400px;}
}

@media (max-width: 1200px) {
	
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 540px) {

}